<h6></h6>

  <div class="row">
    <div class="col-sm">
    	<div class="row">
		    <div class="col">
  <!-- Indicators -->
				  <ul class="carousel-indicators">
				    <li data-target="#demo" data-slide-to="0" class="active"></li>
				     </ul>
  <!-- The slideshow -->
				    <div class="carousel-item active">
				      <%= image_tag("LOGOTIPO.png", alt: "sycosmel") %>
				   </div>
		    </div>
		    <div class="col">
		      *
		    </div>
		 </div>   
    </div>
    <div class="col-sm">
      *
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary btn-sm">accede a tu cuenta</button>
    </div>
  </div>



<img src="http://www.sycosmel.com.pe/images/TITULO.jpg" class="img-fluid" alt="Responsive image">



