<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href=".">inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nosotros">nosotros</a>
  </li>
  <li class="nav-item">
    <%= link_to 'productos', productos_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'ofertas', ofertas_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contactos', contactos_path, :class => "nav-link" %>
  </li>
</ul>